// Newton Theme
body {
  --newton-background: #1a1a1a;
  --newton-foreground: #d3d0c8;
  --newton-color-1: #666666;
  --newton-color-2: #f2777a;
  --newton-color-3: #ff6ac1;
  --newton-color-4: #cc99cc;
  --newton-color-5: #6699cc;
  --newton-color-6: #66cccc;
  --newton-color-7: #99cc99;
  --newton-color-8: #ebbd5b;
  --newton-color-9: #f99157;
}
